/* EventManager.css */

.event-manager-container {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
}

.header {
    background-color: #f5f5f5;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

.logo {
    max-width: 100px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px; /* Adjusted margin for closer positioning */
}

.QR-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    max-width: 400px;
}

.QR-logo {
    max-width: 60%;
    height: auto;
    margin-top: 10px;
    opacity: 1; /* Default opacity */
}

.QR-logo-disabled {
    opacity: 0.5; /* Reduced opacity when QR scanning is disabled */
}

.event-info {
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.event-info h2 {
    margin-top: 0;
}

.QR-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.checked-in-list {
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.checked-in-list h3 {
    margin-top: 0;
}

.checked-in-list ul {
    list-style: none;
    padding: 0;
}

.checked-in-list li {
    margin: 5px 0;
}